<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Rendimiento  y  en el frontend</title>

</head>
<body>

    <div id ="contenedor">
        <header>
            <h1>Rendimiento en el frontend</h1>
        </header>
        <nav class="menu">
            <ul>
                
                <li><a href="/WPO/templates/index.html">Inicio</a></li>
                <li><a href="/WPO/templates/importancia.html">Importancia</a></li>
                <li><a href="/WPO/templates/tecnicas.html">Tecnicas</a></li>
                <li><a href="/WPO/templates/herramientas.html">Herramientas</a></li>
                <li><a href="/WPO/templates/ejemplos.html">Ejemplos</a></li>
      
              </ul>
        </nav>
        <section id="contenido">
            <article>
                
               <p>
                <h6>Ejemplos rendimiento WPO</h6>
                Reducir peticiones HTTP
                Objetivó al realizar menos peticiones http es reducir el tiempo de descarga
                      
        
               </p>
               <P>
                    <h6>
                        COMBINAR VARIOS CSS O JS EN UNO 
                        Categoría: Conectividad, CSS, JavaScript

                    </h6>
                        Problemas:
                        la descarga en paralelo de estos elementos hace que se puedan bloquear otros.	
                        Uno de los mayores costes de conectividad es la propia conexión y desconexión de las descargas.
                        Solución
                        tener un único fichero .JS o .CSS de un tamaño mayor que no varios pequeños usando HttpCombiner 

               </P>


               <P>
                <h6>
                    COMBINAR IMÁGENES O ICONOS EN CSS SPRITES
                    Categoría: Conectividad, CSS, Imágenes
                    

                </h6>
                Problema
                iconos que se van repitiendo a lo largo de las distintas páginas.  Produce efecto de un exceso de peticiones y, por ello, un número elevado de conexiones inútiles.
                Solución
                integrar varias imágenes en una imagen única. Esta imagen, que suele ser un PNG8, contiene una cantidad de imágenes pequeñas suficiente para no tener un tamaño excesivo y con una única imagen poder gestionar todos los elementos desde el CSS
                 Ejemplo 
                #nav li a {background-image:url('imagen.png')}
                

               </P>

               <p>
                <h6>PARALELIZAR PETICIONES HTTP</h6>
                    Protocolo que permite el intercambio de información, que principalmente es el HTTP.
                    es muy recomendable la combinación de CSS y JS o de las imágenes en CSS Sprites.
                    es mejor hacer una petición grande que muchas pequeñas para reducir el coste de estas comunicaciones.
               </p>

               <p>
                <h6>INCLUIR LOS JS EN LA PARTE INFERIOR
                    Categoría: Conectividad, JavaScript 
                </h6>
                se puede llegar a hacer bloquear todo el sitio si por alguna razón el JavaScript no puede procesarse en un tiempo razonable, y en tal caso puede bloquear imágenes, CSS u otros contenidos.
                se recomienda que, en la medida de lo necesario, los ficheros de JavaScript se sitúen al final de la página, para que se puedan cargar todos los otros elementos antes, y al final estos scripts
                
               </p>
            </article>
        </section>
        <aside>
            <h2>Publicidad</h2>
        </aside>
        <footer>
            <h2>Bibliografia</h2>
            <h6>
                https://appmaster.io/es/glossary/optimizacion-del-rendimiento-del-front-end
                
                        
            </h6>
            <h6>
                https://www.javiercasares.com/wpo/Guia-WPO.pdf
            </h6>
        </footer>

    </div>
    
</body>
</html>