<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Rendimiento  y  en el frontend</title>

</head>
<body>

    <div id ="contenedor">
        <header>
            <h1>Rendimiento en el frontend</h1>
        </header>
        <nav class="menu">
            <ul>
                
                <li><a href="/WPO/templates/index.html">Inicio</a></li>
                <li><a href="/WPO/templates/importancia.html">Importancia</a></li>
                <li><a href="/WPO/templates/tecnicas.html">Tecnicas</a></li>
                <li><a href="/WPO/templates/herramientas.html">Herramientas</a></li>
                <li><a href="/WPO/templates/ejemplos.html">Ejemplos</a></li>
      
              </ul>
        </nav>
        <section id="contenido">
            <article>
                
               <p>
                <h6>HERRAMIENTAS PARA OPTIMIZAR IU </h6>
                    Los grandes sitios como Yahoo! o Google han lanzado distintas herramientas para revisar la
                    velocidad y rendimiento de los sitios web, ya sean desde sus plataformas web como con aplicaciones
                    externas que funcionan en algunos navegadores.
                    
               </p>

               <p>
                    1) Apache JMeter permite hacer pruebas Web, SOAP, bases de datos...
           
               </p>

               <p>
                
                    2)boomerang es un código JavaScript que te permite medir el rendimiento de las páginas
                    enviando la información al servidor para analizar los resultados.
          
               </p>


               <p>
                    3) Fidder2 es un Web Debugging Proxy que permite monitorizar todo el tráfico contra Internet.

               </p>

               <p>
                    4) Google mod_pagespeed: es un módulo para Apache 2 que lleva la configuración por defecto de
                    muchas opciones (compresión, agrupar CSS y JS...).

               </p>

               <p>
                    
                    5) Google Page Speed: es una herramienta que se puede instalar en Mozilla Firefox junto al
                    añadido Firebug y también en Google Chrome y permite revisar una serie de elementos de
                    WPO.

               </p>

               <p>
                    6) Httperf es una herramienta de Hewlett-Packard que permite hacer peticiones de estrés a los
                        servidores y ver cómo se comportan.
                </p>
                <p>
                    7) IBM Page Detailer es una herramienta que permite ver cómo se manda la información de un
                    sitio a los navegadores.

                </p>

                <p>
                    8) Loads.In permite analizar el tiempo de carga de una página desde diferentes puntos del mundo
                    y comparar los resultados.
                    
                </p>

                <p>
                    9)OctaGate SiteTimer permite monitorizar el tiempo de descarga de cada uno de los elementos
                    de una página
                </p>

                <p>
                    10)Pylot realiza pruebas de carga HTTP de forma que se puede calcular el estrés.

                </p>

                <p>
                    11)Site-Perf permite calcular el tiempo de carga de una página de manera realista dando
                    información de todo tipo
                </p>

                <p>
                    12)Web Page Analyzer permite calcular el tamaño de la página, tiempo de descarga y ofrece
                    recomendaciones.
                    
                </p>

                <p>
                    13)WebLOAD permite hacer pruebas de estrés a aplicaciones JavaScript de forma que se puede
                    mejorar su rendimiento.
                </p>
            </article>
        </section>
        <aside>
            <h2>Publicidad</h2>
        </aside>
        <footer>
            <h2>Bibliografia</h2>
            <h6>
                https://appmaster.io/es/glossary/optimizacion-del-rendimiento-del-front-end
                
                        
            </h6>
            <h6>
                https://www.javiercasares.com/wpo/Guia-WPO.pdf
            </h6>
        </footer>

    </div>
    
</body>
</html>