<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="header-content">

            <div class="logo">
                <h1>Rendimiento en el <b>frontend </b></h1>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="main.html">Inicio</a></li>
                        <li><a href="#">Importancia</a></li>
                        <li><a href="#">Tecnicas</a></li>
                        <li><a href="#">Herramientas</a></li>
                        <li><a href="#">Ejemplos</a></li>
                    </ul>
                </nav>
            </div>
           

                     
        

        </div>



    </header>

    <div class="container-cover">
        <div class="container-info-cover">
            <h1>Diseño y Rendimiento en al web</h1>
            <p>Enfoque sistemático de mejorar la experiencia del usuario final y la eficiencia general dentro de las aplicaciones web </p>

        </div>
    </div>

    <div class=""></div>


</body>
</html>