/* Estilos para el cuerpo (body) y el HTML */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
#contenedor {
    height: 100%;
}

/* Estilos para el header */
header {
    width: 100%;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
    text-align: center;
    padding: 20px 0; /* Añade espacio alrededor del contenido */
    margin-top:8px;
    margin-bottom: 3px;
}

/* Estilos para la navegación */
.menu {
    width: 100%;
    background-color: #666; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
    text-align: center;
    padding: 10px 0; /* Añade espacio alrededor del contenido */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos de la lista */
}

/* Estilos para la sección de contenido */
#contenido {
    width: 100%;
    height: calc(100% - 130px); /* Calcula la altura restando el espacio ocupado por el header, la navegación y el pie de página */
    overflow-y: auto; /* Añade desplazamiento vertical si el contenido excede el espacio disponible */
    padding: 20px; /* Añade espacio alrededor del contenido */
}

/* Estilos para el aside */
aside {
    width: 100%;
    background-color: #999; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
    text-align: center;
    padding: 20px 0; /* Añade espacio alrededor del contenido */
    background-image: url('../img/publicidad.jpg'); /* Ruta a tu imagen de fondo */
    
}

/* Estilos para el footer */

footer {
    width: 100%;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: white; /* Cambia el color del texto según tus preferencias */
    text-align: center;
    padding: 20px 0; /* Añade espacio alrededor del contenido */
    
}

