#c1{
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    margin-right: 5px;
    margin-bottom: 40px;
    float: left;
    

}

#c2{
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    margin-left:30px;
    margin-right: 5px;
    margin-bottom: 40px;
    float: left;

}

#c3{
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 40px;
    float: left;

}

#c4{
    background-color: #008080;
    width: 40%;
    height: 700px;
    clear:  both;
    margin-top: 30px;
    float: left;
    

}

#c5{
    background-color: blue;
    height: 700px;
    width: 15%;
    margin-top: 10px ;
    margin-bottom: 30px;
    float: right;
    
    
    
}
#c6 {
    background-color: orangered;
    height: 100px;
    margin-bottom: 30px;
    clear: both;
}

#c7 {
    background-color: orangered;
    height: 100px;
    margin-bottom: 30px;
}


#c8 {
    background-color: orangered;
    height: 100px;
    margin-bottom: 30px;
}

#c9 {
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    float: right;
    margin-bottom: 30px;


}

#c10 {
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    clear: both;
    margin-bottom: 30px;
 
}


#padre {
    background-color: blue;
    width: 30;
    height: 80px;
    
}

.h1 {
    background-color: orangered;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    float: left;
}














