#c1{
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    margin: 5px;
    float: right;

}

#c2{
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    margin: 5px;
    float: right;

}

#c3{
    background-color: greenyellow;
    width: 30%;
    height: 70px;
    margin: 5px;
    float: right;

}